# Build results
**/Debug/
**/Release/
*.obj
*.exe
*.pdb
*.idb

# Visual Studio files
*.suo
*.user
*.vcxproj.user
*.ncb
*.opensdf
*.sdf
*.cache
*.log
*.VC.db
*.ipch

# VS config folders
.vs/
.vscode/

# Temp/backup files
*.bak
*.tmp
~$*
